@page "/"

<div class="header">
    <h1>القرآن الكريم</h1>
    <input type="text" class="search-input"
           id="searchInput" placeholder="ابحث عن قارئ..."
           @bind="searchText"
           @bind:event="oninput">
</div>

@foreach (var letter in alphabet)
{
    var matching = readers.Where(r => 
    {
        var term = NormalizeText(searchText);
        var newName = NormalizeText(r.Name);

        return newName[0] == letter && newName.Contains(term); 
    }).ToList();
    @if(!matching.Any())
    {
        continue;
    }

    <div class="letter-group">
        <div class="letter-header">@(letter.ToString())</div>
        <ul class="reader-list">
            @foreach (var reader in matching)
            {
                <li class="reader-item" @onclick="@(() => ShowUrlAsync(reader.URL))" style="cursor:pointer">
                    <div class="reader-name">@reader.Name</div>
                </li>
            }
        </ul>
    </div>
}