@page "/"

<div class="header">
    <h1>القرآن الكريم</h1>
    <input type="text" class="search-input" id="searchInput" placeholder="ابحث عن قارئ...">
</div>

@foreach (var letter in alphabet)
{
    @if(!readers.Any(r => r.Name.StartsWith(letter.ToString())))
    {
        continue;
    }

    <div class="letter-group">
        <div class="letter-header">@(letter.ToString())</div>
        <ul class="reader-list">
            @foreach (var reader in readers.Where(readers => readers.Name.StartsWith(letter.ToString())))
            {
                <li class="reader-item">
                    <div class="reader-name">@reader.Name</div>
                </li>
            }
        </ul>
    </div>
}