@page "/"

<div class="header">
    <h1>القرآن الكريم</h1>
    <input type="text" class="search-input" id="searchInput" placeholder="ابحث عن قارئ...">
</div>

<div class="letter-group">
    <div class="letter-header">ن</div>
    <ul class="reader-list">
        <li class="reader-item">
            <div class="reader-name">نافع المدني</div>
        </li>
    </ul>
</div>

<div class="letter-group">
    <div class="letter-header">ا</div>
    <ul class="reader-list">
        <li class="reader-item">
            <div class="reader-name">ابن كثير المكي</div>
        </li>
        <li class="reader-item">
            <div class="reader-name">ابن عامر الشامي</div>
        </li>
    </ul>
</div>

<div class="letter-group">
    <div class="letter-header">أ</div>
    <ul class="reader-list">
        <li class="reader-item">
            <div class="reader-name">أبو عمرو البصري</div>
        </li>
        <li class="reader-item">
            <div class="reader-name">أبو جعفر المدني</div>
        </li>
    </ul>
</div>

<div class="letter-group">
    <div class="letter-header">ع</div>
    <ul class="reader-list">
        <li class="reader-item">
            <div class="reader-name">عاصم بن أبي النجود</div>
        </li>
    </ul>
</div>

<div class="letter-group">
    <div class="letter-header">ح</div>
    <ul class="reader-list">
        <li class="reader-item">
            <div class="reader-name">حمزة الزيات</div>
        </li>
    </ul>
</div>

<div class="letter-group">
    <div class="letter-header">ك</div>
    <ul class="reader-list">
        <li class="reader-item">
            <div class="reader-name">الكسائي</div>
        </li>
    </ul>
</div>

<div class="letter-group">
    <div class="letter-header">خ</div>
    <ul class="reader-list">
        <li class="reader-item">
            <div class="reader-name">خلف العاشر</div>
        </li>
    </ul>
</div>

<div class="letter-group">
    <div class="letter-header">ي</div>
    <ul class="reader-list">
        <li class="reader-item">
            <div class="reader-name">يعقوب الحضرمي</div>
        </li>
        <li class="reader-item">
            <div class="reader-name">يزيد بن القعقاع (أبو جعفر)</div>
        </li>
    </ul>
</div>