.playback-container {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 24px;
    margin:24px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    position: fixed;
    bottom: 0px;
}

/* Responsive */
@media (max-width: 480px) {
    .playback-container {
        padding: 20px;
    }

}